@tailwind base;
@tailwind components;
@tailwind utilities;

.containerlogin {
    display: flex;
    width: 1440px;
    height: 740px;
    align-items: center;
    justify-content: center;
}

.shadow{
    width: 400px;
    padding: 0px 10px;
    height: 300px;  
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logininput{
    display: flex;
    flex-direction: column;
}

.card-title{
    font-size: 32px;
    text-align: center;
}
.logininput>input{
    border: 1px solid rgba(0, 0, 0, 0.474);
    border-radius: 5px;
}


.main-com{
    display: grid;
    /* grid-template-columns: 2fr 8fr; */
    display: flex;
    height: 500px;
    gap: 20px;

}
.main-com>div{
    background: cadetblue;

}
.Links>ul{
    display: grid;
    gap: 15px
}

.btngray{
    background-color: gray !important;
}    
.grids{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
    width: 1440px;
    height: 240px;
    background-color: #1a1a1a;
    color: #fff;
}

.container{
    max-width: 1440px;
    margin:  0 auto;
}
form{
    position: relative;
    color: #ffffff;
}
form>input{
    background-color: #3a3939;
    border-radius: 3px;
    height: 35px;
    margin-top: 10px;
}

.tag{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 145px;
    top: 15px;
}
.names{
    padding: 40px 0px 0px 50px;
}
.names>p{
    padding: 5px;
}
.foot-names{
    padding: 35px 0px 0px 50px;
}
.foot-names>p{
    padding: 5px;
}
.sixth-names{
    padding: 33px 0px 0px 50px;
}
.sixth-names>p{
    padding: 3px;
}
.seventh-name{
    padding: 33px 0px 0px 50px;
}
.seventh-name>p{
    padding: 5px;
}
.icons{
    display: grid;
    grid-template-columns:  1fr 1fr;
}
.facebook{
    width: 30px;
    height: 20px;
}
.twitter{
    width: 30px;
    height: 20px;
}
.instagram{
    width: 30px;
    height: 20px;
}
.nineth-name{
    display: flex;
    gap: 20px;
}
.img_com{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;

  
}
.image_2{
    display: flex;
    gap: 20px;
}
.gap{
    display: grid;
    gap: 19px;
}
.bannrimg{
    display: flex;
    justify-content: center;
    align-items: center;
}


.bannerimg{
   height: 400px !important;
  
}
.padding{
    padding: 16px 130px;
    color: #fff;
    border-radius: 4px;
}
.padding2{
    padding: 16px 111px;
    border-radius: 4px;
    border: 2px solid gray;
}
.icon_eyes{
    color: #1a1a1a;
    font-size: 20px;
}
.btn10>button{
    width: 20px;
    height: 10px;
    background-color: crimson;
}
.work-com{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 80px;
}
.sign_com{
    padding: 40px;
}