@tailwind base;
@tailwind components;
@tailwind utilities;

.containerlogin {
    display: flex;
    width: 1440px;
    height: 750px;
    align-items: center;
    justify-content: center;
}

.shadow{
    width: 400px;
    padding: 0px 10px;
    height: 300px;  
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logininput{
    display: flex;
    flex-direction: column;
}

.card-title{
    font-size: 32px;
    text-align: center;
}
.logininput>input{
    border: 1px solid rgba(0, 0, 0, 0.474);
    border-radius: 5px;
}

